* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

body {
  background: #eee;
  padding: 0 1px;
}
header {
  background-color: #3961ee;
  padding: 12px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto; /* Permite el scroll horizontal */
  white-space: nowrap; /* Evita que los elementos se rompan en líneas */
  position: sticky; /* Hace que el header se quede fijo al hacer scroll vertical */
  top: 0; /* Mantiene el header fijo en la parte superior */
  z-index: 1000; /* Para asegurarse de que el header esté por encima del resto del contenido */
}

header h1 {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 20px;
}

header h2 {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.circle-img {
  width: 300px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantén la proporción de la imagen */
  margin-left: auto;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: scroll; /* Permite el scroll horizontal */
  white-space: nowrap; /* Evita que se envuelva el contenido */
  margin-top: 20px;
  padding: 0 30px;
  max-width: 1500px; /* Limitar el ancho máximo en pantallas grandes */
  max-height: 900px;
  width: 100%;
  height: 600px;
  position: sticky;
}

.hmiSection {
  flex: 1; /* Hace que ambos elementos tomen el mismo ancho */
  max-width: 970px; /* Ancho máximo para pantallas grandes */
  background-color: #ccd4dc;
  border: 2px solid #ccc;
  padding: 10px;
  margin-right: 10px; /* Espacio entre los elementos */
  box-sizing: content-box;
  height: 540px;
  flex: 0 0 80%;
  overflow-x: scroll;
  width: 930px; /* Asegura que el padding se incluya en el ancho total */
}

.StatusPanel {
  flex: 1; /* Panel de control ocupa su propio espacio */
  max-width: 300px; /* Ancho máximo para el panel de control */
  background-color: #bbc4c3;
  padding: 20px;
  border: 2px solid black;
  text-align: center;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.StatusPanel h3 {
  font-size: 1rem;
}

.StatusItem {
  display: flex; /* Alinea el nombre y el LED en la misma línea */
  justify-content: space-between; /* Coloca el nombre a la izquierda y el LED a la derecha */
  align-items: center; /* Alinea verticalmente en el centro */
  margin-bottom: 10px; /* Espacio entre cada ítem */
  padding: 10px;
  background-color: #dfe6e5;
  border-radius: 8px;
}

.StatusItem img {
  width: 25px; /* Ajusta el tamaño de los LEDs */
  height: 25px;
}

.buttonPanel {
  display: flex; /* Utilizamos flexbox para alinear los botones */
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 20px; /* Espacio entre los botones */
  margin-top: 20px; /* Espacio adicional encima del panel */
  padding: 10px; /* Agregamos un poco de espacio interno */
}

.buttonStart {
  box-shadow: 3px 4px 0px 0px #3e7327;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border-radius: 18px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}
.buttonStart:hover {
  background: linear-gradient(to bottom, #2b6310 5%, #77b55a 100%);
  background-color: #72b352;
}
.buttonStart:active {
  position: relative;
  top: 1px;
}

.buttonStop {
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
.buttonStop:hover {
  background: linear-gradient(to bottom, #751107 5%, #f24437 100%);
  background-color: #72b352;
}

.buttonStop:active {
  position: relative;
  top: 1px;
}
/* Wrapper que contiene la imagen del silo y el rectángulo de llenado */
.siloWrapper {
  position: relative; /* Posiciona los elementos dentro de este contenedor */
  width: 100px;
  height: 125px;
}

/* Imagen del silo */
.siloImage {
  width: 910px; /* Ancho de la imagen del silo */
  height: 510px; /* Alto de la imagen del silo */
  object-fit: fill;
}

/* Barra de llenado del SILO */
.siloFill {
  position: absolute;
  left: 49px;
  bottom: -108px; /* Llenado comienza desde la parte inferior */
  width: 80%;
  background-color: #8b4513; /* Color del grano (marrón) */
  transition: height 0.3s ease; /* Transición suave para el llenado */
  z-index: 1; /* Asegura que el relleno esté sobre la imagen */
}

.valve-image {
  position: absolute;
  top: 320px; /* Ajusta según la posición deseada sobre el silo */
  left: 76px; /* Ajusta la posición horizontal de la válvula */
  width: 45px; /* Tamaño de la válvula */
  height: 45px;
  transform: rotate(90deg);
}

.M1-image {
  position: absolute;
  top: 395px; /* Ajusta según la posición deseada sobre el silo */
  left: 224px; /* Ajusta la posición horizontal de la válvula */
  width: 8rem; /* Tamaño de la válvula */
  height: 4rem;
}

.M2-image {
  position: absolute;
  top: 355px; /* Ajusta según la posición deseada sobre el silo */
  left: 580px; /* Ajusta la posición horizontal de la válvula */
  width: 24rem; /* Tamaño de la válvula */
  height: 10rem;
}

.Mill-image {
  position: absolute;
  top: 235px; /* Ajusta según la posición deseada sobre el silo */
  left: 440px; /* Ajusta la posición horizontal de la válvula */
  width: 15rem; /* Tamaño de la válvula */
  height: 14rem;
}

@keyframes grainMovement {
  0% {
    top: 300px; /* Posición inicial 300*/
    transform: translateY(180%);
  }
  100% {
    top: 250px; /* Posición final al subir */
    transform: translateX(160%);
  }
}
.grains {
  position: absolute;
  width: 80px; /* Ajusta según el tamaño de la imagen */
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 205px; /* Posición inicial 215*/
  left: 175px; /* Posición inicial */
  animation: grainMovement 2.5s linear infinite; /* Animación cíclica */
}

.ButHisto {
  box-shadow: inset 1px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #3960ee 5%, #346ca1 100%);
  background-color: #3960ee;
  border-radius: 6px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 4px;
  padding: 12px 13px; /* modificar tamaño */
  width: 140px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
}
.ButHisto:hover {
  background: linear-gradient(to bottom, #346ca1 5%, #3960ee 100%);
  background-color: #346ca1;
}
.ButHisto:active {
  position: relative;
  top: 1px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los botones a la izquierda */
  margin-left: -25px; /* Añade un margen debajo del contenedor de botones */
}

@media (max-width: 600px) {
  header {
    flex-wrap: nowrap; /* Asegura que no se envuelva el contenido */
    overflow-x: scroll; /* Permite el scroll horizontal en pantallas pequeñas */
  }

  .main-container {
    flex-wrap: nowrap; /* Asegura que no se envuelva el contenido */
    overflow-x: scroll; /* Permite el scroll horizontal en pantallas pequeñas */
  }

  .circle-img {
    width: 180px; /* Tamaño más pequeño de la imagen en pantallas pequeñas */
  }

  header h1 {
    font-size: 1.2rem; /* Reduce el tamaño de la fuente */
  }

  header h2 {
    font-size: 1rem; /* Reduce el tamaño de la fuente */
  }
  .hmiSection,
  .StatusPanel {
    overflow-x: scroll;
    flex: 0 0 85%; /* Ocupa el 90% del ancho de la pantalla */
    margin-right: 10px; /* Espacio entre elementos */
    font-size: 1rem;
    margin-left: 10px;
    height: 420px;
  }

  .siloImage {
    width: 682px; /* Ancho de la imagen del silo */
    height: 383px; /* Alto de la imagen del silo */
    object-fit: fill;
  }

  .siloWrapper {
    position: relative; /* Posiciona los elementos dentro de este contenedor */
    width: 75px;
    height: 93.75px;
  }

  /* Barra de llenado del SILO */
  .siloFill {
    position: absolute;
    left: 36.75px;
    bottom: -81px; /* Llenado comienza desde la parte inferior */
    width: 80%;
    background-color: #8b4513; /* Color del grano (marrón) */
    transition: height 0.3s ease; /* Transición suave para el llenado */
    z-index: 1; /* Asegura que el relleno esté sobre la imagen */
  }

  .valve-image {
    position: absolute;
    top: 240px; /* Ajusta según la posición deseada sobre el silo */
    left: 57px; /* Ajusta la posición horizontal de la válvula */
    width: 33.75px; /* Tamaño de la válvula */
    height: 33.75px;
    transform: rotate(90deg);
  }

  .M1-image {
    position: absolute;
    top: 18rem; /* Ajusta según la posición deseada sobre el silo */
    left: 10.4rem; /* Ajusta la posición horizontal de la válvula */
    width: 6rem; /* Tamaño de la válvula */
    height: 3rem;
  }

  .M2-image {
    position: absolute;
    top: 266.25px; /* Ajusta según la posición deseada sobre el silo */
    left: 435px; /* Ajusta la posición horizontal de la válvula */
    width: 18rem; /* Tamaño de la válvula */
    height: 7.5rem;
  }

  .Mill-image {
    position: absolute;
    top: 196.25px; /* Ajusta según la posición deseada sobre el silo */
    left: 330px; /* Ajusta la posición horizontal de la válvula */
    width: 11.25rem; /* Tamaño de la válvula */
    height: 10.5rem;
  }

  @keyframes grainMovement {
    0% {
      top: 225px; /* Posición inicial 300*/
      transform: translateY(180%);
    }
    100% {
      top: 187.5px; /* Posición final al subir */
      transform: translateX(160%);
    }
  }
  .grains {
    position: absolute;
    width: 60px; /* Ajusta según el tamaño de la imagen */
    height: 33.75px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 153.75px; /* Posición inicial 215*/
    left: 131.25px; /* Posición inicial */
    animation: grainMovement 2.5s linear infinite; /* Animación cíclica */
  }
  .ButHisto {
    font-size: 14px;
    font-weight: 400;
    padding: 11px 12px; /* modificar tamaño */
    width: 100px;
  }
}
